<template>
    <div class="container">
        <h1 class="title" v-if="userName">
            Hi {{ userName }}
        </h1>
        <h2 class="subtitle">List of Artivity rooms</h2>
        <div class="button-wrapper" v-if="listOfRooms.length">
            <button v-for="(room, index) in listOfRooms" :key="index" @click="goTo(index, room)">
                {{ room.name }}
            </button>
        </div>
        <div class="user-list" v-if="users.length">
            <h2>Users currently being creative - {{ this.users.length }}</h2>
            <ul>
                <li v-for="(user, index) in users" :key="index">
                    {{ user.name }}
                </li>
            </ul>
        <button class="btn" :disabled="!userName" @click="leave">Log Out</button>
        </div>
        <p v-else>You are the only one</p>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import socketio from 'socket.io-client';
import { Socket } from 'vue-socket.io-extended';
import VueSocketIOExt from 'vue-socket.io-extended';
export const SocketInstance = socketio('http://localhost:3000');
const socket = socketio('http://localhost:3000');
import axios from 'axios'

Vue.use(VueSocketIOExt, socket);

declare const window: any;

@Component({})
export default class AdminContainer extends Vue {
    userName: string = "";
    listOfRooms: Array<[]> = [];
    users: Array<[{ name:string; userId: string}]> = [];
    loggedInInfo: {name: string; userId: string} = {name: "", userId: ""};

    // @Watch("users")
    // checkIfUsers() {
    //     console.log(this.users, 'this is the watcher')
    // }

    @Socket()
    connect() {
        console.log('connection established in admin');
    }

    @Socket('login')
    onLogin(loginInfo: {name: string; userId: string}) {
        console.log(loginInfo, 'socket decorator admin')
        this.loggedInInfo = loginInfo;
    }

    @Socket('broadcast')
    allUsers(users: any) {
        console.log(users, 'broadcast');
        this.users = users;
    }

    @Socket('leaving')
    leaving(loggedInInfo: any) {
        console.log(this.loggedInInfo, 'leaving');
    }

    goTo(index: number, room: string) {
        console.log('this is a thing', room)
        this.$router.push({
            path: `/canvas/${index + 1}/${this.userName}`
        })
    }

    // TODO: Need to look if correct person is being removed. Essentially remove by id
    // not sure why the filter is not working as expected
    
    // Once adding and removing from tab close is done we can look at leaving with button click 
    // Might be worth looking at that to fix the above

    // Once the entering and leaving of the app is settled need to look at the creating of the rooms and passing room data

    // Most of this work is do to server side passing and receiving data. More sockets work
    // On refresh of page all names being cleared - storing socket?

    // On refresh and leave message to make sure they're ok to leave

    // different images for different rooms

    // same colour data

    // make inputs work when presseing enter

    // can i get user name in admin container 

    leave() {
        console.log(this.loggedInInfo)
        socket.emit('leaving', this.loggedInInfo);
        // console.log('users', this.users)
        // this.users = this.users.filter((user: any) => {
        //     return user.name !== this.loggedInInfo.name
        // });
        this.$router.push({
            path: '/'
        })
    }
  
    async created() {
        let thing = this.users;
        window.onbeforeunload = function(){
            socket.emit("leaving", this.loggedInInfo);
            console.log(this.loggedInInfo)
            return "handle your events or msgs here";
        }

        try {
            const response = await axios.get(
                'http://localhost:3000/rooms'
            )
            this.listOfRooms = response.data;
        } catch (error) {   
            console.error('Rooms were not received: ', JSON.stringify(error));
        }

    }

    mounted() {
        this.userName = this.$route.params.name;
        // this.$socket.client.on('login', (data) => {
        //     console.log(data, 'this is the admin container data')
        // })
    }
}
</script>
<style scoped>
    /* TODO: Add to global stlyes */
    .title {
        padding-bottom: 3rem;
    }
    .button-wrapper {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    .user-list {
        width: 40%;
        margin: 4rem auto;
    }
    .user-list ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-left: 1em;
        gap: 10px;
    }
</style>
