<template>
  <div class="container">
    <div class="top-level">
      <button class="admin-btn btn">
        <router-link :to="`/admin/${userName}`">Change Room</router-link> 
      </button>
    </div>
    <div v-if="isLoading" class="loading">Loading Painting Please wait...</div>
    <div v-else class="main">
      <h1>Canvas
        <span v-if="isConnected">is connected</span>
        <span v-if="!isConnected">is not connected</span>
      </h1>
      <!-- <div v-if="canvasData" class="background-sketch" :style="{ backgroundImage: `url('/assets/images/${canvasData.image}')` }"></div> -->
      <div class="main__input-wrapper">
         <div class="input__wrapper">
          <p>This is custom color in hex {{ customColor }}</p>
          <form
            @submit="getStrokeWidth(strokeWidth)"
          >
            <input type="text" name="stroke_width" class="stroke_width_picker" v-model="customColor"/>
            <!-- TODO: Look at adding validation for hex color and maybe other formats -->
            <button class="button" type="submit">Change Stroke Width</button>
          </form>
        </div>
        <div class="input__wrapper" v-bind:style='image'>
          <p>This is the stroke width: {{ strokeWidth }}<span v-if="strokeWidth">px</span></p>
          <form
            @submit="updateStrokeWidth(strokeWidth)"
          >
            <input type="text" name="stroke_width" class="stroke_width_picker" v-model="strokeWidth"/>
            <!-- TODO: Look at adding validation for number only -->
            <button class="button" type="submit" @click="updateStrokeWidth(strokeWidth)">Change Stroke Width</button>
          </form>
        </div>
      </div>

      {{image}}
      {{showBackgroundImage() }}
      <div class="container" :style="showBackgroundImage()"></div>
       <!-- :style="{ backgroundImage: `url('/assets/images/${canvasData.image}')`, backgroundColor: 'red', width: '900px', height: '900px' }" -->
      <div id="sketch-holder" :style="showBackgroundImage()"
        class="sketch-container" 
        >
        <div class="color">
          <div class="color__wrapper" v-for="(color, index) in randomColor" :key="index">
            <div class="color__suggestion" v-bind:style="{background: color}" @click="selectColor(color)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
// TODO:
// Look at creating drop down for different image
// Look at creating hex number random suggestions
// Look at validation for inputs
// Look at creating zoom functionality

// @ts-ignore
import P5 from 'p5'; 
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios'

import socketio from 'socket.io-client';
import { Socket } from 'vue-socket.io-extended'
import VueSocketIOExt from 'vue-socket.io-extended';
export const SocketInstance = socketio('http://localhost:3000');
const socket = socketio('http://localhost:3000');

Vue.use(VueSocketIOExt, socket);

@Component({})
export default class CanvasContainer extends Vue {
  @Socket()
  connect() {
    console.log('connection established');
  }
  @Socket('mouse')  // --> listens to the event with given name, e.g. `tweet`
  on (data: any) {
    console.log(data)
  }
  image: string = "";
  userName: string = "";
  isConnected: boolean = false
  customStrokeWidth: number|undefined;
  canvas: any;
  canvasData: { id: number, name: string, image: string, totalAllowedUsers: number, currentNumberOfUsers: number} | null;
  strokeWidth: any | undefined;
  customColor: any | undefined;
  randomColor: Array<string> | undefined;
  isLoading: boolean = true;

  constructor() {
    super();
    this.canvasData = {
      id: 0,
      name: '',
      image: '',
      totalAllowedUsers: 0,
      currentNumberOfUsers: 0

    };
    this.strokeWidth = 2;
    this.customColor = '#000000';
    this.randomColor = [];
  }

  generateRecommendedHex() {;
    this.randomColor = Array.from({length: 10}, () => `#${Math.floor(Math.random()*16777215).toString(16)}`);
  }

  updateStrokeWidth() {
    this.setUpSketchBoard()
  }

  selectColor(color: string) {
    this.customColor = color;
  }

  showBackgroundImage() {
    return {
      backgroundImage: "url('@/assets/paint-by-numbers-1.png')"
    }
  }

  setUpSketchBoard() {
    let bg: any;  
    const sketch = (s: any) => {
      s.setup = () => {
        // let canvas2 = s.createCanvas(s.windowWidth, s.windowHeight);
        let canvas2 = s.createCanvas(900, 900);
        // creating a reference to the div here positions it so you can put things above and below
        // where the sketch is displayed
        canvas2.parent('sketch-holder');
        // interger RGBA notation
        s.background('rgba(255, 255, 255, 0)');
        // s.resizeCanvas(s.windowWidth, s.windowHeight);
      }


      // TODO: Need to look at cleaning this up and not use client.on
      // Looks like this was not calling subscribe properly when changing route
      // this.$socket.$subscribe('mouse', (data: any) => {
      //     s.drawing(data)
      // })
      // this.$socket.$unsubscribe('mouse');
      this.$socket.client.on('mouse', (data: any) => {
          s.drawing(data)
      })

      s.drawing = (data: any) => {
        s.stroke(data.color);
        s.strokeWeight(data.strokeWidth);
        s.line(data.mouseX, data.mouseY, data.pmouseX, data.pmouseY);

      }
      
      s.mouseDragged = () => {
        s.stroke(this.customColor);
        s.strokeWeight(this.strokeWidth);
        s.line(s.mouseX, s.mouseY, s.pmouseX, s.pmouseY);
        const data = {
          mouseX: s.mouseX,
          mouseY: s.mouseY,
          pmouseX: s.pmouseX,
          pmouseY: s.pmouseY,
          color: this.customColor,
          strokeWidth: this.strokeWidth
        }
        this.$socket.client.emit('mouse', data);
      }

      s.newDrawing = (data: any) => {
        s.stroke(this.customColor);
        s.strokeWeight(this.strokeWidth);
        s.line(data.mouseX, data.mouseY, data.pmouseX, data.pmouseY);
      }

      s.keyPressed = () => {
        if (s.key === 'c') {
          window.location.reload();
        }
      }
    }
    this.canvas = new P5(sketch,);
  }

  async created() {
    // try {
    //     const response = await axios.get(
    //             'http://localhost:3000/rooms'
    //     )
    //     const canvasData = response.data.filter((item: { id: number, name: string, image: string, }) =>  item.id === Number(this.$route.params.id));
    //     this.canvasData = canvasData[0]
    //     this.isLoading = false;
    //     console.log(this.isLoading, 'FINSHED LOADING')

    // } catch (error) {
      
    // } finally {
    //   console.log('this is finally', this.isLoading)
      
    // }


  }

  async mounted() {
    console.log(this.isLoading, 'in mounted')
    // backgroundImage: `url('/assets/images/${canvasData.image}')`, backgroundColor: 'red', width: '900px', height: '900px' }
    // this.image = `background: url('/assets/paint-by-numbers-${this.$route.params.id}.png')`;
    // this.image = `{ backgroundImage: "url("/assets/paint-by-numbers-${this.$route.params.id}.png")", }`;
    console.log(this.image, 'background image');
    this.userName = this.$route.params.name;
    console.log(this.userName)
    const windowWidth = window.innerWidth;

    try {
      const response = await axios.get(
              'http://localhost:3000/rooms'
      )
      const canvasData = response.data.filter((item: { id: number, name: string, image: string, }) =>  item.id === Number(this.$route.params.id));
      this.canvasData = canvasData[0]
      this.isLoading = false;
      console.log(this.isLoading, 'FINSHED LOADING')

    } catch (error) {
      
    } finally {
      console.log('this is finally', this.isLoading)
      
    }

     if (!this.isLoading) {
       console.log(this.isLoading)
       setTimeout(() => {
         this.setUpSketchBoard();
         this.generateRecommendedHex();
       }, 200);
      }

    this.isConnected = true;  
  }

}

</script>
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top-level {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 2rem;
  }

  /* This should probably be global */
  /* TODO: Need to create global stylesheet */
  .router-link-active {
    text-decoration: none;
  }


  #sketch-holder {
    padding: 0 4em;
    background: url('../assets/paint-by-numbers-1.png') repeat 0 0;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
    width: 900px;
    height: 900px;
    margin: 4em auto;
  }

  .main__input-wrapper {
    display: flex;
    flex-direction: row;
  }

  .input__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      margin: 0 2em;
  }

  .input__wrapper p {
    text-align: left;
  }

  .input__wrapper button {
    margin-top: 1em;
  }
  .input__wrapper input, .input__wrapper p, .input__wrapper button  {
    width: 100%;
  }

  .color {
    position: absolute;
    left: 0;
  }
  .color__suggestion {
    border: 1px solid;
    height: 40px;
    width: 40px;
    margin: 15px 40px
  }
</style>