<template>
    <div class="container">
        <h1>Login</h1>
        <form
            @submit="submit"
        >        
            <div class="input-wrapper">
                <input class="input" type="text" v-model="name" placeholder="ENTER YOUR NAME"/>
                <div class="button-wrapper">
                    <button class="btn" :disabled="!name" type="submit">Enter</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import socketio from 'socket.io-client';
import { Socket } from 'vue-socket.io-extended';
import VueSocketIOExt from 'vue-socket.io-extended';
export const SocketInstance = socketio('http://localhost:3000');
const socket = socketio('http://localhost:3000');

Vue.use(VueSocketIOExt, socket)

@Component({})
export default class AdminContainer extends Vue {
    name: string = '';

    @Socket()
    connect() {
        console.log('connection established in login');
    }
    
    @Socket('login')
    onLogin(loginInfo: {}) {
        console.log(loginInfo, 'socket decorator')
    }


    submit() {
        const data = {
            name: this.name,
            userId: this.$socket.client.id
        }
        this.$socket.client.emit('login', data);
        this.$router.push({
            path: `/admin/${this.name}`,
        })   
    }
}
</script>
<style>
    .input-wrapper {
        width: 500px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .input {
        margin: 2rem 0;
        padding: 1rem 2rem;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-start;
    }

    .button-wrapper .btn {
         padding: 1rem 2rem;
    }
</style>