<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <canvas-container></canvas-container> -->
    <!-- <router-link to="/canvas"></router-link> -->
    <router-view></router-view>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CanvasContainer from './components/canvas-container.vue';

@Component({
  components: {
    CanvasContainer,
  },
})
export default class App extends Vue {}
</script>

<style>
 @import './assets/styles/styles.css';
</style>
